/*
#photo-name-textbox
{
  width: 100%;
  margin: 3px 0px 3px 0px;
  background-color: rgba(117, 16, 16, 0.05);
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: black;
}

#associated-photos-container
{
  width: 85%;
  margin: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 10px;
  background-color: rgba(117, 16, 16, 0.05);
  text-align: center;
}

.photo-button-group .btn
{
  margin: 2px;
  background-color: #332d2d;
  border-color: black;
}


.photo-button-group:hover .btn:hover
{
  border-color: maroon;
  color: maroon;
}

.add-button
{
  background-image: url("/static/app_main/plus-white.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.add-button:hover
{
  background-image: url("/static/app_main/plus-maroon.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
*/

