/*
#add-associated-photo-container
{
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 10px;
  background-color: rgba(117, 16, 16, 0.05);
  text-align: center;
}


#associated-photos-container
{
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 10px;
  background-color: rgba(117, 16, 16, 0.05);
  text-align: center;
}

.sub-header
{
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  text-align: center;
} 

hr
{
  display: block;
  position: relative;
  clear: both;
  border: none;
  width: 95%;
  background-color: #332d2d; 
  height: 1px;
  margin: 0px 0px 5px 0px;
}


.photo-button-group .btn
{
  margin: 2px;
  background-color: #332d2d;
  border-color: black;
}


.photo-button-group:hover .btn:hover
{
  border-color: maroon;
  color: maroon;
}


.tagname-button
{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: maroon;
  border-color: black;
  color: white;
  margin-bottom: 1px;
}

.remove-button
{
  background-image: url("/static/app_main/garbage-white.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.remove-button:hover
{
  background-image: url("/static/app_main/garbage-maroon.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

*/
