



/*===============GENERAL CONTAINERS======================*/


#body {
  background-color: #d8d4d4;
}

.centering-container {
  text-align: center;
  width: 100%;
}

.general-outer-container {
  display: inline-block;
  width: 95%;
  margin: 5px 0px 0px 0px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 10px;
  background-color: rgba(117, 16, 16, 0.05);
}

.form-element-box {
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
}

.general-form-container {
  margin: 2px;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(51, 45, 45, 1);
}

/*===========PROFILE AND LOGIN/REGISTER=================*/

#account
{
  border-radius: 5px;
}

.account-form-container {
  margin: 10px 0px 0px 10px;
  display: inline-block;
  width: 95%;
  background-color: #d8d4d4;
  border-style: solid;
  border-color: maroon;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px;
}


.login-or-register-container {
  margin: 20px;
  padding: 15px 5px 20px 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(51, 45, 45, 1);
}

#register-form {
  border-color: maroon;
  color: rgba(51, 45, 45, 1);
}

#login-form {
  border-color: maroon;
  color: rgba(51, 45, 45, 1);
}

/*=============== NAVGATION BAR =================*/


.navbar {
  padding: 1px !important;
  background-color: rgba(51, 45, 45, 1) !important;
  border-bottom-style: solid !important;
  border-bottom-color: maroon !important;
  border-bottom-width: 3px !important;
  color: white !important;
}

.nav-item {
  margin: 0px 10px 0px 10px;
  color: white !important;
}

#nav-viewing-user {
  padding-top: 5px;
  font-size: 16px;
}

#nav-dropdown-title .nav-item {
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
  border-radius: 5px !important;
  color: white !important;
}

#navbar-toggle {
  border-color: maroon !important;
}

#search-users-input-navbar {
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-radius: 5px 0px 0px 5px;
  border-color: maroon;
  width: 140px;
}

#search-users-input-button-navbar {
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 5px 5px 0px;
  border-color: maroon;
}

#nav-viewing-user {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  border-color: maroon;
}


/*=================== DISCOVER USERS / SEARCH USERS PAGE ==================*/


#discover-users-container {
  text-align: center;
}

#search-users-form-bad-url {
  display: inline-block;
  width: 100%;
}

#search-users-input-bad-url {
  display: inline-block;
  margin: 20px 0px 20px 20px;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-radius: 10px 0px 0px 10px;
  border-color: maroon;
  max-width: 50%;
}

#search-users-input-button-bad-url {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  border-style: solid;
  border-width: 5px 5px 5px 0px;
  border-radius: 0px 10px 10px 0px;
  border-color: maroon;
  min-width: 10%;
}


