#account-options-selector
{
}

#body
{
  background-color: #d8d4d4;
}

.centering-container
{
  text-align: center;
  width: 100%;
}

.general-outer-container
{
  display: inline-block;
  width: 95%;
  margin: 5px 0px 0px 0px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: maroon;
  border-radius: 10px;
  background-color: rgba(117, 16, 16, 0.05);
  text-align: center;
}


.navbar
{
  padding: 1px !important;
  background-color: rgba(51, 45, 45, 1) !important;
  border-bottom-style: solid !important;
  border-bottom-color: maroon !important;
  border-bottom-width: 3px !important;
  color: white !important;
}

.nav-item
{
  margin: 0px 10px 0px 10px;
  color: white !important;
}

#nav-viewing-user
{
  padding-top: 5px;
  font-size: 16px;
}

#nav-dropdown-title .nav-item 
{
  border-style: solid !important;
  border-width: 1px 1px 1px 1px !important;
  border-radius: 5px !important;
  color: white !important;
}

#navbar-toggle
{
  border-color: maroon !important;
}

#navbar-search-users-container
{
}

#search-users-input
{
  border-style: solid;
  border-width: 2px 1px 2px 2px;
  border-radius: 5px 0px 0px 5px;
  border-color: maroon;
  width: 140px;
}

#search-users-input-button
{
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  border-radius: 0px 5px 5px 0px;
  border-color: maroon;
}

#nav-viewing-user
{
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 5px 5px 5px 5px;
  border-color: maroon;
}









